@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{  
    text-align: center;
    font-size: 40px;
    color:cornflowerblue;
    margin: 2rem 0px;
    font-family: 'Road Rage', cursive;
    font-weight: strong;
}

body{ 
    background:rgb(255, 224, 201)
}


.cardBlocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 640px;
    height: 640px;
    border: 3px solid black;
    margin: auto;
    
}
.cards{
    border-radius: 2px solid black;
}




