@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{  
    text-align: center;
    font-size: 80px;
    color:rgb(255, 180, 192);
    margin: 2rem 0px;
    font-family: 'Road Rage', cursive;
    font-weight: strong;
}

body{ 
    background: white;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 640px;
    height: 640px;
    border: 3px solid black;
    margin: auto;
    background-image: url('https://i.imgur.com/tH3szbt.jpg');
    
}
.cards{
    border-radius: 2px solid black;
}

.blankFront{
    position: relative;
}



