@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{  
    text-align: center;
    font-size: 200px;
    font-family: 'Road Rage', cursive;
    font-weight:400;
    color:white;
    -webkit-text-stroke: 4px black;
    margin: 2rem 0px;   
    letter-spacing: 0.1em;
}

header:hover{
    background-color:rgb(255, 238, 168); 
}
/* rgb(255, 180, 192); */


body{ 
    background-color: white;
    background-image: url("https://i.pinimg.com/originals/2a/c8/16/2ac81616d27c0469a43fb404f9b6350d.gif"); 
    background-repeat: no-repeat;
    background-size: 100%;
}
/* options for backgrnd image link
https://i.pinimg.com/originals/2a/c8/16/2ac81616d27c0469a43fb404f9b6350d.gif
https://i.pinimg.com/originals/dc/0d/fa/dc0dfa65a550f740257f342b3b8af3fc.gif */


.backgrnd-img{
    opacity: 0.5;
}

.cards{
    height: 160px;
    width: 160px;
    background-image: url("images/frontcard1.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    border: 2px solid purple;
    transition: opacity 4s;
}

.flipped-cards{
    height: 160px;
    width: 160px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
   
}
/* 
//create class for a pair of card add animation to fade away hide inside of image */

.pair{
  
opacity: 0;

}


.container{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 640px;
    height: 640px;
    border: 3px solid black;
    margin: auto;
    background-image: url("https://c.tenor.com/dby5UbmKt90AAAAd/ripndip-monalisa.gif"); 

}

.button {
    width: 190px;
    height: 90px;
    font-size: 60px;
    font-family: 'Road Rage', cursive;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
    color: white;
    border-radius: 12px;
    border: 5px solid black;
    background-color: white;
    justify-content:center;
    align-items: center;
    align-self: center;
    position: relative;
    margin-left: 1550px;
    right: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline;
}


.button:hover{
    background-color: rgb(230, 147, 216);
}



.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 120px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 80px;
    top: 15px;
    right: 35px;
    }
  }